#projects {
  padding-bottom: 0px;
  margin-bottom: 8px;
}

#galery {
    width: 90%;
    max-width: 1070px;
    margin: 10px auto;
    margin-top: 0px;
    padding: 10px;
    padding-top: 0px;
    display: -webkit-box;
    overflow-x: scroll;   
    overflow-y: hidden;   
    white-space: nowrap;
  }
  
  .galery::before{ content:''; display:block; width:400%; height:1px; }

.ProjectImage { 
  border-radius: 20px;
}

#project {
    font-size: 22px;
    margin: 16px;
    margin-left: 8px;
    padding: 8px;
    width: 500px;
    height: auto;
}

#project h3 {
  margin: 8px;
}

#project p {
  margin: 8px;
}

#project div.Button {
  padding: 0px;
  height: 32px;
}

#project a.Button {
  display: block;
  height: auto;
  padding: 10px 0px;
  margin: 0px auto;
  border-radius: 20px;
}

@media screen and (max-width: 481px) {
  #project {
    font-size: 8px;
    margin: 0px 8px;
    width: 60%;
  }
  #project h3 {
    font-size: 10px;
    margin: 3px;
  }
  
  #project p {
    margin: 5px;
  }
  
  #project div.Button {
    padding: 2px;
    height: 32px;
  }
  
  #project a.Button {
    display: block;
    height: auto;
    padding: 20px 10px;
    margin: 0px auto;
    border-radius: 20px;
  }

  #galery {
    width: 80%;
    margin: 10px auto;
    margin-top: 0px;
  }
}
