
#boxPerfil {
  text-shadow: 3px 3px 19px var(--primary);
}

#imgPerfil {
  height: 100px ;
  width: 100px ;
  
  background-image: url("/img/sun.gif");
  background-repeat: no-repeat;
  background-position-x: -65px;
  background-position-y: -18px;
  background-size: 230%;
  background-attachment: fixed;
  
  box-shadow: 3px 3px 29px var(--shadow);
  border-radius: 50%;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }  
  50% {
    transform: translateY(-10px);
  }  
  100% {
    transform: translateY(0);
  }  
}

@media screen and (max-width: 800px) {
  #imgPerfil {
    height: 120px ;
    width: 120px ;
    background-position-x: -78px;
    background-position-y: -21px;
    margin: auto;
    float:none;
  }
}

