#imgPerfil {
  float: left;
  height: 200px ;
  width: 200px ;
}

@media screen and (max-width: 1100px) {
  #imgPerfil {
    float: none;
    height: 100px ;
    width: 100px ;
    margin: 0px auto;
 }
}