.Button {
  font-size: 22px;
  color: var(--text);
  text-align: center;
  vertical-align: center;
  padding: 12px;
  background: none;
  border-radius: 50px;
  border:none;
}

#btnStyled {
  box-shadow: 3px 3px 9px black;
  color: var(--text);
  background-color:  var(--secondary);
  border: solid 1px var(--primary);
}

#btnStyled:hover {
  box-shadow: 3px 3px 9px var(--shadow);
  border: none;
  color: var(--primary);
}

.Button:hover {
  color: var(--primary);
}

#btnMenu {

  background-color:  var(--secondary);
  border: solid 1px var(--primary);
  vertical-align: auto;
  display: flex;
  direction: row;
  margin: 9px;
}

#btnMenu:hover {
  box-shadow: 0px 0px 15px var(--primary);
}

a.Button {
  text-decoration: none;
}
