.Button {
  font-size: 22px;
  color: var(--text);
  text-align: center;
  vertical-align: center;
  padding: 12px;
  background: none;
  border-radius: 50px;
  border:none;
}

#btnStyled {
  box-shadow: 3px 3px 9px black;
  background-color:  var(--container);
}

#btnStyled:hover {
  box-shadow: 3px 3px 9px var(--shadow);
}

.Button:hover {
  color: var(--primary);
}

#btnMenu {
  vertical-align: auto;
  margin: 9px;
}

a.Button {
  text-decoration: none;
}
