#text-about {
  margin: 24px;
  text-align: center;
}

#tecnologiasUtilizadas {
  padding: 0% 20%;
  float: center;
}

#linkToWhatsapp {
  font-size: 32px;
}

@media screen and (max-width: 555px) {
  #about {
    padding-bottom: 10px;
  }
}
