@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

:root {
  --back: url('/img/back.jpg');
  --primary: #00aaff;
  --secondary: #B8E8D5;
  --transparency: #FFFFFF55;
  /*--back: hsl(0, 0%, 75%);*/
  --shadow: #00aaff;
  --text: #1C1C1E;
}
