@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

:root {
  --bg: url(/img/blue1.jpg);
  --banner: url(/img/banner.jpg);
  --eu: url(/img/eu-a.jpg);
  --primary: #0000FF;
  --secondary: #262629;
  --transparency: #000000aa;
  --back: #000;
  --shadow: #ff0055;
  --text: #ffffff;
}

[data-theme='light'] {
  --bg: url(/img/blue.jpg);
  --banner: url(/img/banner.jpg);
  --eu: url(/img/eu-a.jpg);
  --primary: #ff0055;
  --secondary: #eee;
  --transparency: #ffffffbb;
  --back: #a8a8a8;
  --shadow: #0000FF;
  --text: #666666aa;
}
