#home {
  height: 90vh;
  padding: 10px;
}

#box {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 25vh 50px;
  display: flex;
  justify-content: space-between;
  max-width: 1070px;
}

#box-left {
  border-radius: 20px;
  box-shadow: 0px 0px 5px var(--shadow);
  background-color:  var(--transparency);
  backdrop-filter: blur(15px);
  position:inherit;
  float: left;
  text-align: left;
  padding: 60px 4%;
}

#box-right {
  position:inherit;
  float: right;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 0;
}

#content-right {
  width:500px;
  margin: auto;
}

@keyframes blink {
  from, to {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}
  
#cursor {
  animation: 1s blink step-end infinite ;
}

@media screen and (max-width: 1100px) {

  #home {
    padding-top: 10px;
    margin-bottom: 20px;
  }

  #box {
    display: block;
    padding-top: 0vh;
    padding-bottom: 50px;
  }

  #box-left {
    margin: 0px auto;
    float: none;
    text-align: center;
    width: 90%;
    min-width: 330px;
    padding: 3vh 0vw;
  }
  
  #box-right {
    margin: 0px auto;
    margin-top: 20px;
    float: none;
    text-align: center;
    padding: 0px;
  }

  #content-right {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  #box {
    padding: 0;
  }
}
