#galery {
    border-radius: 20px ;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    background-color:  var(--transparency);
    backdrop-filter: blur(15px);
    display: -webkit-box;
    overflow-x: scroll;   
    overflow-y: hidden;   
    white-space: nowrap;
  }
  
  .galery::before{ content:''; display:block; width:400%; height:1px; }

.ProjectImage { 
    border-radius: 20px;
}

#galery-project {
    font-size: 16px;
    margin: 10px;
    width: 500px;
    height: 700px;
    padding: 10px 100px;
}

@media screen and (max-width: 481px) {
    #galery-project {
        padding: 0px;
        margin: 4px;
        font-size: 11px;
        width: 300px;
        height: 500px;
    }
} 

