#about {
  padding-top:120px;
  background: var(--transparency);
  border-radius: 20px;
  margin-top: 120px;
  box-shadow: 0 0 3px var(--shadow);
}

#text-about {
  margin: 24px;
  text-align: left;
}

#linkWhatsapp {
  margin: 48px;
}

#boxTechnologies {
  display: flex;
  margin: 0 auto;
  padding: 3%;
  justify-content: space-around;
  max-width: 1070px;
}

#boxTechnologiesLeft {
  display: flex;
  flex-direction: column;
  position:inherit;
  float: left;
  width: 100;
}

#boxTechnologiesMiddle {
  display: flex;
  flex-direction: column;
  position:inherit;
  float: right;
  width: 100;
}

#boxTechnologiesRight {
  position:inherit;
  float: right;
  text-align: start;
  padding: 40px 0px;
  width: 30%;
}

#technology {
  color: var(--text);
}

#technology:hover {
  color: var(--primary);
}


@media screen and (max-width: 800px) {

  #boxTechnologies {
    display: block;
    padding-top: 0vh;
    padding-bottom: 50px;
  }

  #boxTechnologiesLeft {
    margin: 0px auto;
    float: none;
  }
  #boxTechnologiesMiddle {
    margin: 0px auto;
    float: none;
  }
  
  #boxTechnologiesRight {
    margin: 5vh 0;
    float: none;
    text-align: center;
    padding: 0px;
    width: 100%;
  }
}
