#home {
  padding-top:120px;
  height: 90vh;
}

#boxHome {
  display: flex;
  margin: 0 auto;
  padding: 0px;
  padding-top: 60px;
  justify-content: space-between;
  max-width: 2000px;
}

#boxHomeLeft {
  position:inherit;
  float: left;
  padding: 5rem;
  border-radius: 30px;
  color: var(--primary);
  background: var(--secondary);
}

#boxHomeRight {
  position:inherit;
  float: right;
  text-align: center;
  margin-bottom: 10px;
}

#content-right {
  width:500px;
  margin: auto;
  margin-top: 120px;
}

@media screen and (max-width: 800px) {
  #boxHome {
    padding-top: 120px;
    display: block;
    padding-bottom: 50px;
  }

  #boxHomeLeft {
    margin: 10px auto;
    text-align: center;
    float: none;
    padding: 2rem;
  }
  
  #boxHomeRight {
    margin: 0px auto;
    float: none;
    text-align: center;
    padding: 0px;
  }

  #content-right {
    width: 100%;
  }
}


