#home {
  padding-top:120px;
  height: 90vh;
}

#boxHome {
  display: flex;
  margin: 0 auto;
  padding: 0px;
  padding-top: 60px;
  justify-content: space-between;
  max-width: 2000px;
}

#boxHomeLeft {
  position:inherit;
  float: left;
  padding: 10vh 10vw ;
  border-radius: 30px;
  border: solid 1px var(--primary);
  background: var(--transparency);
}

#boxHomeRight {
  position:inherit;
  float: right;
  text-align: center;
}

#content-right {
  display: grid;
  width: 25rem;
  margin: 18vh 3vw;
}

@media screen and (max-width: 800px) {
  #boxHome {
    display: inline-grid;
    margin: auto;
    padding-bottom: 100vh;
    height: 100vh;
  }

  #boxHomeLeft {
    margin: 0px auto;
    padding: 10px;
  }
  
  #boxHomeRight {
    position: relative;
    margin: 10vh auto;
    margin-bottom: 15vh;
  }

  #content-right {
    width: 100%;
    margin: 10px auto;
  }
}


