body {
  margin: 0px;
  font-family: 'DM Mono', monospace;
  text-align: center;
  font-size: 30px;
  color: var(--primary);
  background: url(/img/bg-roses.jpeg);
}

h1 {
  text-shadow: 0px 0px 10px var(--shadow);
  font-size: 48px;
}

h2 {
  text-shadow: 0px 0px 10px var(--shadow);
  font-size: 26px;
}
