section {
  padding-top: 13vh;
  text-align: center;
  margin: 0px auto;
  width: 90%;
  max-width: 1060px;
  height: 100%;
  left: 0;
  right: 0;
  margin-bottom: 1vh;
}

ul {
  text-align: left;
}

.container{
  padding: 10px;
  border-radius: 20px;
  background-image: linear-gradient( to right, var(--secondary), var(--back), var(--secondary));
}

#home-left {
  float: left;
  margin: 0px auto;
  text-align: right;
}

#home-right {
  float: right;
  margin: 80px auto;
  text-align: left;
}

iframe {
  height: 600px;
  width: 90%;
  resize: both;
  overflow: auto;
}

@media screen and (max-width: 755px) {

  .container {
    padding-left: 5%;
    padding: 30px;
    padding: 10px;
  }

  #home-left {
    margin: 0px auto;
    float: none;
    text-align: center;
  }
  
  #home-right {
    padding-top: none;
    margin: 0px auto;
    float: none;
    text-align: center;
  }

  section {
    width: 100%;
  }

  iframe {
    height: 600px;
    width: 100%;
  }
}