section {
  padding: 5px;
  text-shadow: 0px 0px 1px var(--shadow);
  text-align: center;
  margin: 0px auto;
  width: 90%;
  max-width: 1060px;
  height: 70vh;
  left: 0;
  right: 0;
}

ul {
  text-align: left;
}

.container{
  padding-top: 10%;
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  background-image: linear-gradient( to right, var(--secondary), var(--back), var(--secondary));

}

#projects {
  padding-top: 10%;
}

#contact {
  padding-top: 10%;
}

#about {
  padding-top: 10%;
}

#introduction {
  height: 70vh;
}

#introduction-left {
  padding-top: 10%;
  float: left;
  margin: 70px auto;
  text-align: left;
}

#introduction-right {
  padding-top: 10%;
  float: right;
  margin: 70px auto;
}

#home {
  padding-top: 100px;
}

iframe {
  height: 600px;
  width: 90%;
}

@media screen and (max-width: 690px) {

  .container {
    width: auto;
    padding-left: 5%;
    padding: 30px;
  }

  #introduction-left {
    padding-top: 0px;
    margin: 0px auto;
    float: none;
    text-align: center;
  }
  
  #introduction-right {
    padding-top: 0px;
    margin: 0px auto;
    float: none;
  }

  section {
    width: 100%;
  }

  iframe {
    height: 600px;
    width: 100%;
  }
}
