@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&family=Codystar:wght@300&display=swap');

:root {
  --primary: #00aaff;
  --secondary: #ffffff;
  --back: #aaaaaaaa;
  --shadow: #00aaff;
}

[data-theme='dark'] {
  --primary: #aa0000;
  --secondary: #5c5c5c33;
  --back: #161619;
  --shadow: #aa0000;
}

body {
  font-family: 'Changa', sans-serif;
  text-align: center;
  font-size: 30px;
  color: var(--primary);
  background: var(--back);
}

h1 {
  font-family: 'Codystar', cursive;
  text-shadow: 0px 0px 10px var(--shadow);
  font-size: 62px;
}

h2 {
  font-family: 'Codystar', cursive;
  text-shadow: 0px 0px 10px var(--shadow);
  font-size: 46px;
}
