#ico {
  margin: 0px 5px -8px 0px;
  height: 30px;
  width: 30px;
  margin-left: 6px;
}

#logo {
  width: 100px;
  height: 100px;
  margin: 0px;
  border-radius: 50%;
}

#imgPerfil {
  border-radius: 20px;
  float: left;
  height: 20%;
  width: 20%;

  transition: 0.5s ease;
}
#imgPerfil:hover {
  animation: rotate 1s ease-in-out;
  transition: 0.5s ease;
  transform-origin: left bottom;
}

#imgPerfil:hover:after {
  transition: .5s ease;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: translate(30px, 20px) rotate(20deg);
  }
  0% {
    transform: rotate(0);
  }
}

@media screen and (max-width: 755px) {

  #imgPerfil {
    float: none;
  }
}
