.navbar {
  width: 90%;
  min-height: 50px;
  max-width: 1010px;
  margin: 0px auto;
  text-align:end;
}

.navbar-body {
  position: fixed;
  padding: 10px;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px var(--shadow);
  background-color:  var(--transparency);
  backdrop-filter: blur(5px);
}

.menu {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  text-align: center;
  width: auto;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

#title {
  float: left;
  font-size: 26px;
  text-shadow: 0px 0px 4px var(--shadow);
}

#btnMenu {
  float: right;
}

@media screen and (max-width: 1010px) {
  
  #btnMenu{
    position: absolute;
    z-index: 2;
  }
  .navbar {
    display: grid;
    justify-content: center;
    text-align: right;
    width: 90%;
  }

  .menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    height: auto;
  }

  .navbar img {
    text-align: center;
  }

  .menu {
    float: none;
    display: block;
    max-width: 300px;
    margin: 0px auto;
    z-index: 1;
    border-radius: 20px;
  }
}
