#item {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--back);
    box-shadow: 0 0 10px var(--shadow);
    border-radius: 20px;
    width: 70%;
}

#item:hover {
    /* -webkit-transition: 0.3s; */ /* Corrigir bug ***/ 
    scale: 1.2;
}