:root {
  --primary-color: #aa0000;
  --secundary-color: #ff0000;
  --tertiary-color: #5c5c5c;
  --background: #292929;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  color: var(--primary-color);
  background: var(--background);
  
}

.navbar {
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: ;
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
  margin-bottom: 1em;
}

.navbar a {
  float: left;
}

.navbar-right {
  float: right;
}

section {
  font-size: 35px;
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 30px 10px;
  border-radius: 5px;
  text-shadow: 0px 0px 10px black;
  background-image: linear-gradient( to bottom, var(--background), #2f2f2f, var(--background));
}

section p {
  font-size: 26px;
}

footer {
  height: 100px;
  width: 90%;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

#unstyled {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 50px;
}

#styled {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 22px;
  line-height: 25px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px black;
  background-image: linear-gradient( to bottom right, var(--tertiary-color), var(--background), var(--tertiary-color));
}

#unstyled.active {
  background: var(--primary-color);
}

#unstyled:hover {
  color: white;
  background-image: linear-gradient( to bottom right, var(--background), var(--tertiary-color), var(--background));
}

#styled:hover {
  color: #ff0000;
  box-shadow: 0px 0px 20px var(--secundary-color);
}

#ico {
  width: 18px;
  height: 18px;
  margin: 0px 5px;
}

#frame {
  width: 400px;
  height: 400px;
  margin: 0px;
  padding: 5px;
  border: solid black 10px;
  border-radius: 20px;
}

@media screen and (max-width: 650px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar-right {
    float: none;
  }
}
